@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Shrikhand');

/* base */

body {
    font-family: '游ゴシック体', 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}


/*tree=#237D00 hunny=#FFD118 wood=#C5F574 red=#B5403F*/

p {
    color: #237D00;
    font-size: 21px;
    text-align: center;
    line-height: 1.5;
    padding: 5px 10px;
    margin: 5px 10px;
}

h1 img {
    margin: auto;
    display: flex;
}

.container {
    margin: auto;
    display: flex;
    justify: center;
}

h2 {
    font-family: 'Shrikhand', cursive;
    color: #B5403F;
    font-size: 35px;
    text-align: left;
    background-color: rgba(255, 209, 24, 0.8);
    border-bottom: 1.5px dotted #237D00;
    border-radius: 3px;
}

h3 {
    font-family: 'Shrikhand', cursive;
    color: #B5403F;
    font-size: 35px;
    text-align: center;
    background-color: rgba(255, 209, 24, 0.8);
    border-bottom: 1.5px dotted #237D00;
    border-radius: 3px;
    margin-top: 5px;
}

h4 {
    font-family: 'Shrikhand', cursive;
    color: #B5403F;
    font-size: 30px;
    text-align: center;
    border-bottom: 1.5px dotted #237D00;
}

h5 {
    clear: both;
    color: #B5403F;
    font-size: 25px;
    border-bottom: 1.5px dotted #237D00;
}

a {
    text-decoration: underline;
    cursor: auto;
}

section {
    width: 100%;
    background-color: rgba(197, 245, 116, 0.7);
    padding: 5px 10px;
    margin: 5px 5px;
}

ul {
    list-style: none;
    padding: 5px 5px;
}


/*#home*/

#home img {
    width: 100%;
    border-radius: 3px;
}


/*#pooh*/


/*#pooh/TILT*/

.tilt {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.tilt:hover {
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    transform: rotate(-10deg);
}

.data {
    background: rgba(255, 209, 24, 0.8);
    border-style: 5px inset;
    border-radius: 3px;
}

.data p {
    border-bottom: 1.5px dotted #237D00;
}


/*#story*/


/*#story/BOOKS*/

div.flip-3d {
    perspective: 300px;
    width: 200px;
    float: left;
}

div.flip-3d figure {
    position: relative;
    transform-style: preserve-3d;
    transition: 1s transform;
    font-size: 1.6rem;
}

div.flip-3d figure img {
    width: 100%;
    height: 300px;
}

div.flip-3d figure figcaption {
    color: #237D00;
    position: absolute;
    width: 100%;
    height: 300px;
    top: 0;
    transform: rotateY(.5turn) translateZ(1px);
    background: rgba(255, 209, 24, 0.8);
    text-align: center;
    padding-top: 45%;
    opacity: 0.6;
    transition: 1s .5s opacity;
}

div.flip-3d:hover figure {
    transform: rotateY(.5turn);
}

div.flip-3d:hover figure figcaption {
    opacity: 1;
}

div.flip-3d figure:after {
    content: " ";
    display: block;
    width: 100%;
    height: 50px;
    transform: rotateX(90deg);
    background-image: radial-gradient(ellipse closest-side, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0) 100%);
}

table {
    margin: auto;
    justify: center;
}


/*#news*/

#news {
    border: 1px solid #FF63ED;
    border-radius: 5px;
    padding: 5px;
}

#newslist {
    background: radial-gradient(rgba(255, 209, 24, 0.5), rgba(35, 125, 0, 0.5));
    position: relative;
    padding: 5px;
    width: 100%;
    height: 300px;
    overflow-y: scroll;
}

#newslist p {
    font-size: 18px;
    text-align: left;
    text-indent: 0.5;
    line-height: 1.5;
    margin-left: 0px;
}

#newslist .media-object {
    padding: 0px;
    margin-bottom: 0px;
}

#newslist > ul > li {
    border-bottom: 1px dotted #C5F574;
}


/*#letter*/

label {
    font-family: 'Shrikhand', cursive;
    color: #237D00;
    font-size: 21px;
    text-align: left;
}

textarea{
    margin-bottom: 15px;
}
.button{
    font-family: 'Shrikhand', cursive;
    text-align: center;
    color: #237D00;
}
